<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

<body>
    <div class="container">
        <div style="margin-top: 10%;">
            <a class="btn btn-outline-primary" href="/add_products">Click here to add a product</a><br/><br/>
            <a class="btn btn-outline-primary" href="/products">Products in the inventory</a>
        </div>
    </div>
</body>
</html>